.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.tile .piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.tile .piece:hover {
    cursor:grab;
}

.tile .piece:active {
    cursor: grabbing;
}

.black-tile {
    background-color: rgb(46, 9, 78);
}

.white-tile {
    background-color: rgb(112, 47, 210);
}

.tile img {
    width: 80px;
}